---
title: 会場へのアクセス方法 - 沖縄Ruby会議01
---
<div class="">
  <h2 id="goals">会場へのアクセス方法</h2>
  <h3>沖縄Ruby会議01会場の琉球大学へバスで行く方法を教えて</h3>
  <div class="txt">琉球大学の住所は<br />〒903-0213　沖縄県中頭郡西原町字千原1番地です。ここまでバスで行くには以下をご参照下さい。

<ul>
<li><a href="http://www.u-ryukyu.ac.jp/univ_info/general/access/access.html">琉球大学へのアクセス-路線･高速バス編</a></li>
<li>詳しいバスの時刻表/乗り換え案内を確認するには<a href="http://www.busnavi-okinawa.com/map/">バスなび沖縄</a>が便利です</li>
</ul>
<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zhO0HjCLwsc8.kcSfXe4XJmSc" width="640" height="480"></iframe>
  </div>


</div>