---
title: お問い合わせ - 沖縄Ruby会議01
---
<div class="">
  <h2 id="contact">連絡先</h2>
  <div class="txt">
  今回の沖縄Ruby会議01についてのお問い合わせは以下のメールアドレスまでメールもしくはフェイスブックページをご利用下さい。
  <ul style='list-style-type:none;'>
    <li><img src="images/contact.png"></img></li>
  </ul>
  </div>
  <h3>Facebook</h3>
  <div class="txt">
  <div class="fb-like-box" data-href="https://www.facebook.com/okinawa.rubykaigi" data-width="640" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
  </div>
</div>