---
title: 概要 - 沖縄Ruby会議01
---
<div class="">
  <h2>参加するためには？</h2>
  <ul style='list-style-type:none;'>
    <li>参加費は無料です。<a href="http://okrk01.doorkeeper.jp/events/7599">参加フォーム</a>から参加表明できるので、お気軽にご参加ください！</li>
  </ul>
</div>