---
title: よくあるご質問 - 沖縄Ruby会議01
---
<div class="">
  <h2 id="goals">よくあるご質問</h2>
  <h3>沖縄Ruby会議01会場の琉球大学へバスで行く方法を教えて</h3>
  <div class="txt">琉球大学の住所は<br />〒903-0213　沖縄県中頭郡西原町字千原1番地です。ここまでバスで行くには以下をご参照下さい。

<ul>
<li><a href="http://www.u-ryukyu.ac.jp/univ_info/general/access/access.html">琉球大学へのアクセス-路線･高速バス編</a></li>
<li>詳しいバスの時刻表/乗り換え案内を確認するには<a href="http://www.busnavi-okinawa.com/map/">バスなび沖縄</a>が便利です</li>
</ul>
<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zhO0HjCLwsc8.kcSfXe4XJmSc" width="640" height="480"></iframe>
  </div>
  <h3>懇親会会場への移動方法</h3>
  <div class="txt"><p>琉球大学から懇親会会場への移動手段は車しかありません。
ですので、沖縄人の車に同乗するかタクシー相乗りをお勧めします。</p>
<p>懇親会会場は沖縄国際大学(沖国大)の近くです。
那覇市内への移動はタクシーがお勧めです。(約2,500円)
http://www.okiu.ac.jp/gaiyou/access/
を参考にしてください。</p>
</div>
  <h3>宿泊について</h3>
  <div class="txt"
  <p>宿泊施設は那覇市内がお勧めです。(移動が便利な為)
尚、アクセスマップの宿泊施設は適当に選んでみました。
那覇市内であれば宿泊施設はたくさんあるので、ご自身で探されても良いと思います。</p></div>
</div>