---
title: 概要 - 沖縄Ruby会議01
---
<div class="">
  <h2 id="goals">概要</h2>
  <ul style='list-style-type:none;'>
    <li>名称: 沖縄Ruby会議01</li>
    <li>日時: 2014年3月1日 13:00-17:00</li>
    <li>場所: 琉球大学 工学部１号館 大教室 322 (講演用) & 321 (作業用) [<a href="https://maps.google.co.jp/maps/ms?ie=UTF8&brcurrent=3,0x34e56d1df2e32fe5:0xb46dc2f85de43f4b,1&oe=UTF8&msa=0&msid=105655023061209926360.0004954ae235a0ff9b428">Google Map</a>]</li>
  </ul>

  <h2>参加するためには？</h2>
  <ul style='list-style-type:none;'>
    <li>参加費は無料です。<a href="http://okrk01.doorkeeper.jp/events/7599">参加フォーム</a>から参加表明できるので、お気軽にご参加ください！</li>
  </ul>

  <h2>実行委員会 (スタッフ)</h2>
  <ul style='list-style-type:none;'>
    <li>実行委員長: <a href="http://twitter.com/yasulab">@yasulab</a></li>
    <li>副実行委員長: <a href="http://twitter.com/webcrafts">@webcrafts</a></li>
    <li>るびまレポート係: <a href="http://twitter.com/kimihito_">@kimihito_</a></li>
    <li>会計係: <a href="http://twitter.com/yasulab">@yasulab</a></li>
    <li>ウェブサイト制作 (<a href="http://github.com/okinawarb/okrk01">リポジトリ</a>):
      <a href="http://twitter.com/tompng">@tompng</a>,
      <a href="http://twitter.com/hanachin_">@hanachin_</a>,
      <a href="http://twitter.com/yasulab">@yasulab</a>
    </li>
  </ul>
  <br />


</div>