---
title: 沖縄Ruby会議01
---

<div class="welcome">
  <!--
  <p class="doc">
    <i class='icon-eye-close'></i>
    <i class='glyphicon-eye-close'></i>
  </p><!-- .doc -->
  <img src="./cover.png"></img>
  <br />
  <br />
  <h2>概要</h2>
  <ul style='list-style-type:none;'>
    <li>名称: 沖縄Ruby会議01</li>
    <li>日時: 2014年3月1日 13:00-17:00</li>
    <li>場所: 琉球大学 大教室 322 (講演用) & 321 (作業用)</li>
  </ul>
  
  <h2>目的</h2>
  <ul style='list-style-type:none;'>
    <li>1. 沖縄のコミュニティ間の親睦を深める。</li>
    <li>2. 沖縄の人達にRubyを知ってもらう (できれば仕事で使ってもらいたい...!!)。</li>
    <li>3. 県内外のエンジニアが交流する場を設ける。</li>
  </ul>

  <h2>プログラム (調整中)</h2>
  <ul style='list-style-type:none;'>
    <li>開会</li>
    <li>ゲスト講演１: 「タイトル未定」(調整中) <!--<a href="http://twitter.com/yukihiro_matz">@yukihiro_matz</a>--></li>
    <li>ゲスト講演２: 「タイトル未定」<a href="http://twitter.com/masuidrive">@masuidrive</a></li>
    <li>Lightning Talks Session 1</li>
    <li>県内コミュニティ活動の紹介</li>
    <li>Lightning Talks Session 2</li>
    <li>閉会</li>
    <li>懇親会</li>
  </ul>

  <h2>LTスピーカー募集！</h2>
  <ul style='list-style-type:none;'>
    <li>沖縄Ruby会議でLightning Talksをしてくれる方を募集しています！</li>
    <li>詳細は後日、本サイトよりお知らせ致します。12月末日〆切予定。</li>
  </ul>

  <h2>ハッシュタグ</h2>
  <ul style='list-style-type:none;'>
    <li><h3><a href="https://twitter.com/search?q=okrk01&src=typd&f=realtime">#okrk01</a></h3></li>
  </ul>

  <h2 id="contact">連絡先</h2>
  <ul style='list-style-type:none;'>
    <li><img src="./contact.png"></img></li>
  </ul>
  
  <h2>主催</h2>
  <ul style='list-style-type:none;'>
    <li><a href="http://qwik.jp/okinawarb/"><img src="./okinawarb-logo.png"></img></a></li>
    <br />
    <li><a href="https://www.facebook.com/groups/ruby.okinawa/"><img src="./ryukyurb-logo.png"></img></a></li>
    <br />
    <li><a href="http://lingr.com/room/ryudairb"><img src="./ryudairb-logo.png"></img></a>  </li>
  </ul>

  <h2>協力</h2>
  <ul style='list-style-type:none;'>
    <li><a href="http://ruby-no-kai.org/"><img src="./ruby-no-kai-logo.png"></img></a></li>
    <br />
    <li><a href="http://text.geeoki.com/"><img width="300px" src="./geeoki-logo.png"></img></a></li>
  </ul>

  <h2>実行委員会 (スタッフ)</h2>
  <ul style='list-style-type:none;'>
    <li>実行委員長: <a href="http://twitter.com/yasulab">@yasulab</a></li>
    <li>副実行委員長: <a href="http://twitter.com/webcrafts">@webcrafts</a></li>
    <li>るびまレポート係: <a href="http://twitter.com/kimihito_">@kimihito_</a></li>
    <li>会計係: <a href="http://twitter.com/yasulab">@yasulab</a></li>
    <li>ウェブサイト制作 (<a href="http://github.com/okinawarb/okrk01">リポジトリ</a>):
      <a href="http://twitter.com/tompng">@tompng</a>,
      <a href="http://twitter.com/hanachin_">@hanachin_</a>,
      <a href="http://twitter.com/yasulab">@yasulab</a>
    </li>
  </ul>
  <p><%= link_to "Powered by Middleman", "http://middlemanapp.com/" %></p>
</div><!-- .welcome -->
