---
title: 沖縄Ruby会議 01 2014/03/01 13:00〜開催！
---

<div class="welcome">
  <!--
  <p class="doc">
    <i class='icon-eye-close'></i>
    <i class='glyphicon-eye-close'></i>
  </p>
  <!-- .doc -->
  <a href="http://okrk01.doorkeeper.jp/events/7599"><img src="https://raw.github.com/okinawarb/okrk01/master/source/images/20140127.png" width="660" height="110" alt=""></a></img>
  <div id="about"></div>
  <br />
  <br />
  <h2 id="goals">概要</h2>
  <ul style='list-style-type:none;'>
    <li>名称: 沖縄Ruby会議01</li>
    <li>日時: 2014年3月1日 13:00-18:00</li>
    <li>場所: 琉球大学 工学部１号館 大教室 322 (講演用) & 321 (作業用) [<a href="https://maps.google.co.jp/maps/ms?ie=UTF8&brcurrent=3,0x34e56d1df2e32fe5:0xb46dc2f85de43f4b,1&oe=UTF8&msa=0&msid=105655023061209926360.0004954ae235a0ff9b428">Google Map</a>]</li>
  </ul>

  <h2>開催目的</h2>
  <ol>
    <li>沖縄のコミュニティ間の親睦を深めたい! </li>
    <li>沖縄の人達にRubyを知ってもらたい! (できれば仕事で使ってもらいたい...!!)</li>
    <li>県内外のエンジニアが交流する場を設けたい!</li>
  </ol>


  <h2>LT募集について</h2>
  <ul style='list-style-type:none;'>
    <li>沖縄Ruby会議のLightning Talksの募集は締め切らせて頂きました。</li>
    <li>たくさんのご応募ありがとうございました！</li>
  </ul>

  <h2>参加するためには？</h2>
  <ul style='list-style-type:none;'>
    <li>参加費は無料です。<a href="http://okrk01.doorkeeper.jp/events/7599">参加フォーム</a>から参加表明できるので、お気軽にご参加ください！</li>
  </ul>

  <!--
  <h2>沖縄Rubyコミュニティの活動例</h2>
  <script async class="speakerdeck-embed" data-id="c0d177105709013064ed12313d0539fd" data-ratio="1.2994923857868" src="//speakerdeck.com/assets/embed.js"></script>
  -->


  <h2>実行委員会 (スタッフ)</h2>
  <ul style='list-style-type:none;'>
    <li>実行委員長: <a href="http://twitter.com/yasulab">@yasulab</a></li>
    <li>副実行委員長: <a href="http://twitter.com/webcrafts">@webcrafts</a></li>
    <li>るびまレポート: <a href="http://twitter.com/kimihito_">@kimihito_</a></li>
    <li>会計: <a href="http://twitter.com/yasulab">@yasulab</a></li>
    <li>写真: <a href="http://twitter.com/naoshi06">@naoshi06</a></li>
    <li>会場設営 (フリップ, 無線LAN, BGMなど): <a href="http://twitter.com/repserc">@repserc</a>, <a href="http://twitter.com/_simanman">@_simanman</a></li>
    <li>案内マップ/懇親会: <a href="http://twitter.com/naopontan">@naopontan</a></li>
    <li>Ustream配信: <a href="http://twitter.com/mito_log">@mito_log</a>, <a href="http://twitter.com/akaringding">@akaringding</a>, etc. from <a href="https://twitter.com/lexues">@lexues</a>
    <li>アドバイザー: <a href="http://twitter.com/kakutani">@kakutani</a>, <a href="http://twitter.com/bash0C7">@bash0C7</a>, <a href="http://twitter.com/koichiroo">@koichiroo</a></li>
    <li>ウェブサイト制作 (<a href="http://github.com/okinawarb/okrk01">okinawarb/okrk01</a>):
      <ul style='list-style-type:none;'>
	<li>デザイン草稿: <a href="https://twitter.com/su_te_ki">@su_te_ki</a></li>
	<li>コーディング: <a href="http://twitter.com/webcrafts">@webcrafts</a>, <a href="http://twitter.com/yasulab">@yasulab</a></li>
	<li>デバッグ・環境構築など: <a href="http://twitter.com/tompng">@tompng</a>, <a href="http://twitter.com/hanachin_">@hanachin_</a></li>
      </ul>
    </li>
  </ul>
  <br />
</div><!-- .welcome -->

<% content_for :info_section do %>
  <section class="info">
    <div class="wrapper">
      <div class="session">
        ゲスト講演<h3>※タイトル未定</h3>
        <p class="speaker">by <a href="https://twitter.com/yukihiro_matz">@yukihiro_matz</a></p>
        <p>
          <img src="images/matz.jpg" align="right">
          Ruby作者の「まつもとゆきひろ」氏のゲスト講演が行わます。
        </p>
      </div>
      <div class="session">
        ゲスト講演<h3>Rubyを使って3人/日でアプリをリリースしよう</h3>
        <p class="speaker">by <a href="https://twitter.com/masuidrive">@masuidrive</a></p>
        <p>
          <img src="images/masuidrive.jpg" align="right">昨年のゴールデンウィークを使って開発したMarkdown対応のオンラインメモ帳サービス"wri.pe"の開発手法について解説します。
          「個人サービスだからと言われないものを」という想いでサーバー、設計、実装、UI、デザイン、マーケティングまで、下記の様な技術を使いほぼ一人で行いました。</p>
      </div>
    </div>
  </section>
<% end %>


<% content_for :tags_section do %>
  <section class="contents">
    <div class="wrapper">
      <div class="box1">
        <h2>ハッシュタグ</h2>
        <article class="txt">
          沖縄Ruby会議01ではtwitterのハッシュタグには「<a href="https://twitter.com/search?q=%23okrk01&src=typd&f=realtime"><span class="hashtag">#okrk01</span></a>」を利用しています。イベント開催前〜イベント中の会場からなど、このハッシュタグを利用してつぶやいてください。
        </article>
      </div>
      <div class="box1">
        <h2>お問い合わせ</h2>
        <article class="txt">
          沖縄Ruby会議に関するお問い合わせは<a href="contact.html">コチラ</a>からお願いします。
        </article>
      </div>
    </div>
  </section>
<% end %>
