---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    <i class='icon-eye-close'></i>
    <i class='glyphicon-eye-close'></i>
  </p><!-- .doc -->
</div><!-- .welcome -->