---
title: プログラム - 沖縄Ruby会議01
---
<div class="">
  <h2 id="contact">連絡先</h2>
  <div class="txt">
    <table class="program">
      <tr>
        <th>13:00</th>
        <td>ゲスト講演:<strong>「Rubyを使って3人/日でアプリをリリースしよう」</strong><br /> by @masuidrive
<p>昨年のゴールデンウィークを使って開発したMarkdown対応のオンラインメモ帳サービス"wri.pe"の開発手法について解説します。</p>
<p>「個人サービスだからと言われないものを」という想いでサーバー、設計、実装、UI、デザイン、マーケティングまで、下記の様な技術を使いほぼ一人で行いました。</p>
<p>
この中に一つでも興味のあるものが、あれば聞きにきてみませんか？
<ul>
<li>Rails4.0 + Ruby2.0</li>
<li>Heroku</li>
<li>Capybara + RSpecを使った自動テスト</li>
<li>Backbone.js</li>
<li>HTML5 AppCache + Storage</li>
<li>Google App Script</li>
<li>Analytics Measure API</li>
</ul>
</p></td>
      </tr>
      <tr>
        <th></th>
        <td><strong>Lightning Talks Session 1</strong>
          <ul><li>「RubyKaigiの話」@kakutani</li></ul></td>
      </tr>
      <tr>
        <th></th>
        <td><strong>県内コミュニティ活動の紹介</strong>
         <ul>
          <li>Ryukyu Rubyist Rookies</li>
          <li>Ryudai.rb</li>
          <li>Okinawa.rb</li>
          <li>Hackers Champloo 2014</li>
        </ul>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><strong>Lightning Talks Session 2</strong></td>
      </tr>
      <tr>
        <th>17:00</th>
        <td><strong>閉会</td>
      </tr>
    </table>

  </div>
  <h3>懇親会</h3>
  <div class="txt">懇親会 @ <a href="http://www.paikaji.jp/tenpo/okikoku.html">ぱいかじ</a></div>
</div>