---
title: プログラム - 沖縄Ruby会議01
---
<div class="">
  <h2 id="contact">プログラム</h2>
  <div class="txt">
    <table class="program">
      <tr>
        <th>13:00</th>
        <td>開会&nbsp;<strong></strong><br />by @yasulab</td>
      </tr>
      <tr>
        <th>13:10</th>
        <td>ゲスト講演&nbsp;<strong>未定</strong><br />by @yukihiro_matz
<p></p></td>
      </tr>
      <tr>
        <th>13:50</th>
        <td>ゲスト講演&nbsp;<strong>「Rubyを使って3人/日でアプリをリリースしよう」</strong><br />by @masuidrive
<p>昨年のゴールデンウィークを使って開発したMarkdown対応のオンラインメモ帳サービス"wri.pe"の開発手法について解説します。</p>
<p>「個人サービスだからと言われないものを」という想いでサーバー、設計、実装、UI、デザイン、マーケティングまで、下記の様な技術を使いほぼ一人で行いました。</p>
<p>
この中に一つでも興味のあるものが、あれば聞きにきてみませんか？
<ul>
<li>Rails4.0 + Ruby2.0</li>
<li>Heroku</li>
<li>Capybara + RSpecを使った自動テスト</li>
<li>Backbone.js</li>
<li>HTML5 AppCache + Storage</li>
<li>Google App Script</li>
<li>Analytics Measure API</li>
</ul>
</p></td>
      </tr>
      <tr>
        <th>14:30</th>
        <td><strong>Lightning Talks Session 1</strong>
          <ul>
            <li>「Rubyによるバッチ業務のストリーム処理化の設計と実装」@kakutani</li>
            <li>「Emacsの普通の使い方」@libkinjo</li>
            <li>「ExcelをRubyで操作しよう」@incheon</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>15:10</th>
        <td><strong>県内コミュニティ活動の紹介</strong>
         <ul>
          <li>Ryukyu Rubyist Rookies @repserc</li>
          <li>Ryudai.rb @_simanman</li>
          <li>Okinawa.rb @yasulab</li>
          <li>Hackers Champloo @k_nishijima</li>
          <li>ギークハウス沖縄 @kimihito_</li>
          <li>RyukyuFrogs @gokabo40</li>
        </ul>
        </td>
      </tr>
      <tr>
        <th>15:40</th>
        <td><strong>Lightning Talks Session 2</strong>
          <ul>
            <li>「rcairoでものづくり」K. Suzuki</li>
            <li>「Rubyに何かをしゃべらせる」Yoichi Kobayashi</li>
            <li>「ギークハウス沖縄をRuby色に染めた話」@kimihito_</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>16:20</th>
        <td><strong>Lightning Talks Session 3</strong>
          <ul>
            <li>「琉球大の学生さんと...」Ayumu Aizawa</li>
            <li>「琉大図書館にRuby本を！」Yoichi Kobayashi</li>
            <li>「Sinatraを利用したTwitter連携」@Naoto Enokawa</li>
            <li>「Once-Tech」安慶名 洸平</li>
            <li>「Instag」Naoya Matayoshi</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>17:00</th>
        <td><strong>閉会</td>
      </tr>
    </table>

  </div>
  <h3>懇親会</h3>
  <div class="txt">懇親会 @ <a href="http://www.paikaji.jp/tenpo/okikoku.html">ぱいかじ</a></div>
</div>