---
title: プログラム - 沖縄Ruby会議01
---
<div class="">
  <h2 id="contact">プログラム</h2>
  <div class="txt">
    <table class="program">
      <tr>
        <th>12:30〜13:00</th>
        <td>開場&nbsp;</td>
      </tr>
      <tr>
        <th>13:00</th>
        <td>開会の挨拶&nbsp; by <a href="http://twitter.com/yasulab">@yasulab</a></td>
      </tr>
      <tr>
        <th>13:10</th>
        <td>ゲスト講演&nbsp;<strong>「※ タイトル未定」</strong><br />by <a href="http://twitter.com/yukihiro_matz">@yukihiro_matz</a>
	  <p></p></td>
      </tr>
      <tr>
        <th>13:50</th>
        <td>ゲスト講演&nbsp;<strong>「Rubyを使って3人/日でアプリをリリースしよう」</strong><br />by <a href="http://twitter.com/masuidrive">@masuidrive</a>
	  <p>昨年のゴールデンウィークを使って開発したMarkdown対応のオンラインメモ帳サービス"wri.pe"の開発手法について解説します。</p>
	  <p>「個人サービスだからと言われないものを」という想いでサーバー、設計、実装、UI、デザイン、マーケティングまで、下記の様な技術を使いほぼ一人で行いました。</p>
	  <p>
	    この中に一つでも興味のあるものが、あれば聞きにきてみませんか？
	    <ul>
	      <li>Rails4.0 + Ruby2.0</li>
	      <li>Heroku</li>
	      <li>Capybara + RSpecを使った自動テスト</li>
	      <li>Backbone.js</li>
	      <li>HTML5 AppCache + Storage</li>
	      <li>Google App Script</li>
	      <li>Analytics Measure API</li>
	    </ul>
	  </p></td>
      </tr>
      <tr>
        <th>14:30</th>
        <td><strong>Lightning Talks Session 1 (各10分)</strong>
          <ul>
            <li>「Rubyによるバッチ業務のストリーム処理化の設計と実装」<a href="http://twitter.com/bash0C7">@bash0C7</a></li>
            <li>「Emacsの普通の使い方」<a href="http://twitter.com/libkinjo">@libkinjo</a></li>
            <li>「ExcelをRubyで操作しよう」<a href="https://github.com/incheon">Tomohiro Imaizumi</a></li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>15:10</th>
        <td><strong>県内コミュニティ活動の紹介 (各3分)</strong>
          <ul>
            <li>「<a href="https://www.facebook.com/groups/ruby.okinawa/">Ryukyu Rubyist Rookies</a>」<a href="http://twitter.com/repserc">@repserc</a></li>
            <li>「<a href="http://lingr.com/room/ryudairb">Ryudai.rb</a>」<a href="http://twitter.com/_simanman">@_simanman</a></li>
            <li>「<a href="http://qwik.jp/okinawarb/">Okinawa.rb</a>」<a href="http://twitter.com/yasulab">@yasulab</a></li>
            <li>「<a href="http://hackers-champloo.org/">Hackers Champloo</a>」<a href="http://twitter.com/k_nishijima">@k_nishijima</a></li>
            <li>「<a href="http://text.geeoki.com/">ギークハウス沖縄</a>」<a href="http://twitter.com/kimihito_">@kimihito_</a></li>
	    <li>「<a href="http://gfab-okinawa.github.io/">gFab</a>」<a href="http://twitter.com/nanophate">@nanophate</a></li>
          </ul>
        </td>
      </tr>
      <tr>
	<th>15:30</th> 
	<td><strong>Sponsored Session (各10分)</strong>
	  <ul>
	    <li><a href="http://lexues.co.jp/">株式会社レキサス</a></li>
	  </ul>
	</td>
      </tr>

      <tr>
        <th>15:50</th>
        <td><strong>Lightning Talks Session 2 (各10分)</strong>
          <ul>
            <li>「rcairoでものづくり」<a href="http://twitter.com/mgwsuzuki">@mgwsuzuki</a></li>
            <li>「Rubyに何かをしゃべらせる」<a href="http://www.linkedin.com/pub/yoichi-kobayashi/89/205/461">Yoichi Kobayashi</a></li>
	    <li>「組み込みにもiOSにもrubyで幸せ（仮）」<a href="https://twitter.com/shumach217">@shumach217</a></li> 
          </ul>
        </td>
      </tr>
      
      <tr>
        <th>16:30</th>
        <td><strong>Lightning Talks Session 学生枠 (各5分)</strong>
	  <ul>
	    <li>「This is a SharePla」<a href="http://twitter.com/kanpe777">@kanpe777</a>, <a href="http://twitter.com/salvare234">@salvare234</a></li>
	    <li>「琉大図書館にRuby本を！」<a href="http://twitter.com/_simanman">@_simanman</a></li>
            <li>「#MacFriends: Macの背面にステッカーを貼るヤツちょっとこい」<a href="http://twitter.com/enkw_">@enkw_</a></li>
            <li>「Square your Instagram」<a href="http://twitter.com/nanophate">@nanophate</a></li>
	    <li>「Rubyがモデリングをする時代」<a href="https://twitter.com/motikan2010">@motikan2010</a></li>
          </ul>
	</td>
      </tr>
      
      <tr>
        <th>17:10</th>
	<td><strong>Lightning Talks Session 3 (各5分) ※残りわずか</strong>→<a href="speaker">LTに応募する</a>
	  <ul>
	    <li>「RubyKaigiの話」<a href="http://twitter.com/kakutani">@kakutani</a></li>
	    <li>「るびまの話」<a href="http://twitter.com/gunjisatoshi">@gunjisatoshi</a></li>
	    <li>「Rubyを書くときに考えていること」<a href="http://twitter.com/kbaba1001">@kbaba1001</a></li>
	    <li>「カスタムマッチャーを流行らせたい (仮)」<a href="http://twitter.com/moro">@moro</a></li>
	    <li>「※ タイトル未定」<a href="http://twitter.com/ayumin">@ayumin</a></li>
	  </ul>
	</td>
      </tr>
      
      <tr>
        <th>18:00</th>
	<td>閉会&nbsp; by <a href="http://twitter.com/yasulab">@yasulab</a></td>
      </tr>
    </table>

  </div>
  <h3>懇親会 (18:30〜)</h3>
  <div class="txt">懇親会 @ <a href="http://www.paikaji.jp/tenpo/okikoku.html">ぱいかじ</a></div>
</div>
