---
title: 概要 - 沖縄Ruby会議01
---
<div class="">
  <h2>LTスピーカーの募集について</h2>
  <ul style='list-style-type:none;'>
    <li>現在は、LTスピーカーの募集は締め切らせて頂いております。</li>
    <li>たくさんのご応募、誠にありがとうございました!</li>
  </ul>
</div>
